/* legal.module.css */

.legalContainer {
    @apply flex items-start w-full bg-gray-200 dark:bg-black  text-black dark:text-white;
   
  }
  
  .legalLinks a {
    @apply text-left mb-4; /* Align anchor tags to the left */
    color: grey;
    transition: color 0.3s ease; /* Add smooth transition for color change */
  }
  
  .legalLinks li {
    @apply mt-2 ml-2; /* Align anchor tags to the left */
  
  }
  
  .legalLinks a.selected {
    color: blue; /* Selected link color (blue) */
  }
  
  .legalLinks a:hover:not(.selected) {
    color: blue; /* Link color on hover (blue) */
  }
  
  .legalPolicyContent {
    @apply flex ml-12  flex-col flex-1; /* Use flex-1 to make the RHS flexible and occupy remaining space */
    margin-right: 3rem;
    margin-top: 3rem;
    line-height: 2rem;
  }

  .legalPolicyContent ul{
    @apply list-disc list-inside mb-4; 
  }
  .legalPolicyContent h2{
    @apply text-lg font-bold mb-2; 
  }
  
  .legalPolicyText {
    @apply ml-2;
    margin-top: 6rem;
    color: grey;
  }
  
  .legalPolicyText h2 {
    @apply ml-2;
    color: black;
  }
  
  /* Rest of the existing styles */
  
  @media (min-width: 769px) {
    /* Rest of the existing styles */
  }
  
  /* Add any additional CSS rules for styling here */